* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #F5F7FF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.mobile_top_bar {
  display: none;
}

#top_bar {
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 7.5rem;
  top: 0;
  right: 0;
  padding: 1rem 4rem 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-shadow: 3rem 3.3rem 46px rgba(127, 127, 255, 0.05);
          box-shadow: 3rem 3.3rem 46px rgba(127, 127, 255, 0.05);
}

#top_bar .profile_img {
  width: 4.4rem;
  height: 4.6rem;
  border-radius: .7rem;
  -webkit-border-radius: .7rem;
  -moz-border-radius: .7rem;
  -ms-border-radius: .7rem;
  -o-border-radius: .7rem;
  overflow: hidden;
  margin-right: 1rem;
}

#top_bar .profile_img img {
  width: 100%;
  height: 100%;
}

#top_bar .dot_menu_icon {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#top_bar .dot_menu_icon svg {
  width: 1.7rem;
  height: 4.6rem;
}

#top_bar .dot_menu_icon svg path {
  fill: #1e3174;
}

#top_bar.more_then_1440 {
  max-height: 78px;
}

#top_bar.more_then_1440 .profile_img {
  width: 44px;
  height: 46px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  overflow: hidden;
  margin-right: 10px;
}

#top_bar.more_then_1440 .profile_img img {
  width: 100%;
  height: 100%;
}

#top_bar.more_then_1440 .dot_menu_icon {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#top_bar.more_then_1440 .dot_menu_icon svg {
  width: 17px;
  height: 46px;
}

#top_bar.more_then_1440 .dot_menu_icon svg path {
  fill: #1e3174;
}

#side_bar {
  background: #4173b9;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-30%, #4173b9), color-stop(80%, #09094a));
  background: linear-gradient(0deg, #4173b9 -30%, #09094a 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4173b9", endColorstr="#09094a", GradientType=1);
  position: fixed;
  width: 9.6rem;
  height: 100%;
  top: 0;
  left: 0;
}

#side_bar .logo {
  height: 7.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

#side_bar .logo img {
  width: 3.05rem;
  height: auto;
  margin-top: 0.2rem;
}

#side_bar .menu {
  margin-top: 2.7rem;
  width: 100%;
  padding-left: 1.4rem;
}

#side_bar .menu ul {
  list-style: none;
  width: 100%;
}

#side_bar .menu ul li:nth-child(1) a svg {
  width: 2rem;
  height: 2rem;
}

#side_bar .menu ul li:nth-child(2) a svg {
  width: 1.9rem;
  height: 2.111rem;
}

#side_bar .menu ul li:nth-child(3) a svg {
  width: 1.6rem;
  height: 2rem;
}

#side_bar .menu ul li:nth-child(4) a svg {
  width: 1.921rem;
  height: 2.22rem;
}

#side_bar .menu ul li {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 5.3rem;
}

#side_bar .menu ul li a {
  font-size: 2rem;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: .3s all;
  -webkit-transition: .3s all;
  -moz-transition: .3s all;
  -ms-transition: .3s all;
  -o-transition: .3s all;
  border-radius: 1.2rem 0 0 1.2rem;
  -webkit-border-radius: 1.2rem 0 0 1.2rem;
  -moz-border-radius: 1.2rem 0 0 1.2rem;
  -ms-border-radius: 1.2rem 0 0 1.2rem;
  -o-border-radius: 1.2rem 0 0 1.2rem;
  border-right: 4px solid #5293ee00;
}

#side_bar .menu ul li a svg {
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  margin-left: -1.4rem;
}

#side_bar .menu ul li a.active {
  background: #4173b9;
  background: linear-gradient(45deg, rgba(65, 115, 185, 0.8) 0%, #1b2b6e 120%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4173b9", endColorstr="#1b2b6e", GradientType=1);
  border-right: 4px solid #5293EE;
}

#side_bar.more_then_1440 {
  max-width: 96px;
}

#side_bar.more_then_1440 .logo {
  height: 75px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

#side_bar.more_then_1440 .logo img {
  width: 30.5px;
  height: auto;
  margin-top: 2px;
}

#side_bar.more_then_1440 .menu {
  margin-top: 27px;
  width: 100%;
  padding-left: 14px;
}

#side_bar.more_then_1440 .menu ul {
  list-style: none;
  width: 100%;
}

#side_bar.more_then_1440 .menu ul li:nth-child(1) a svg {
  width: 20px;
  height: 20px;
}

#side_bar.more_then_1440 .menu ul li:nth-child(2) a svg {
  width: 19px;
  height: 21.11px;
}

#side_bar.more_then_1440 .menu ul li:nth-child(3) a svg {
  width: 16px;
  height: 20px;
}

#side_bar.more_then_1440 .menu ul li:nth-child(4) a svg {
  width: 19.21px;
  height: 22.20px;
}

#side_bar.more_then_1440 .menu ul li {
  margin-bottom: 15px;
  width: 100%;
  height: 53px;
}

#side_bar.more_then_1440 .menu ul li a {
  font-size: 20px;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: .3s all;
  -webkit-transition: .3s all;
  -moz-transition: .3s all;
  -ms-transition: .3s all;
  -o-transition: .3s all;
  border-radius: 12px 0 0 12px;
  -webkit-border-radius: 12px 0 0 12px;
  -moz-border-radius: 12px 0 0 12px;
  -ms-border-radius: 12px 0 0 12px;
  -o-border-radius: 12px 0 0 12px;
  border-right: 4px solid #5293ee00;
}

#side_bar.more_then_1440 .menu ul li a svg {
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  margin-left: -14px;
}

#side_bar.more_then_1440 .menu ul li a.active {
  background: #4173b9;
  background: linear-gradient(45deg, rgba(65, 115, 185, 0.8) 0%, #1b2b6e 120%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4173b9", endColorstr="#1b2b6e", GradientType=1);
  border-right: 4px solid #5293EE;
}

.main_content {
  width: 100%;
  padding-top: 7.5rem;
  padding-left: 9.6rem;
}

.main_content.more_then_1440 {
  padding-top: 78px;
  padding-left: 96px;
}

#dashboard_page {
  padding: 3rem 4rem 1.5rem 3.5rem;
}

#dashboard_page #top {
  width: 100%;
  min-height: 40rem;
  padding: 3.4rem 2.7rem 2.5rem 3.2rem;
  background-image: url("../icons/bg_shape1.png");
  background-size: 100% 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  margin-bottom: 1.8rem;
}

#dashboard_page #top h2 {
  font-size: 2.8rem;
  font-family: ttc-dbold;
  color: #000000;
  margin-bottom: 1.4rem;
}

#dashboard_page #top .wrapper {
  width: 100%;
  border-radius: 1.3rem;
  -webkit-border-radius: 1.3rem;
  -moz-border-radius: 1.3rem;
  -ms-border-radius: 1.3rem;
  -o-border-radius: 1.3rem;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#dashboard_page #top .wrapper .left {
  width: 29.5%;
  padding: 1.5rem;
  border-radius: 1.3rem;
  -webkit-border-radius: 1.3rem;
  -moz-border-radius: 1.3rem;
  -ms-border-radius: 1.3rem;
  -o-border-radius: 1.3rem;
  -webkit-box-shadow: 3rem 3.3rem 46px rgba(127, 127, 255, 0.05);
          box-shadow: 3rem 3.3rem 46px rgba(127, 127, 255, 0.05);
}

#dashboard_page #top .wrapper .left .top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

#dashboard_page #top .wrapper .left .top .left {
  width: 45.7%;
  height: 7.4rem;
  border-radius: .8rem;
  -webkit-border-radius: .8rem;
  -moz-border-radius: .8rem;
  -ms-border-radius: .8rem;
  -o-border-radius: .8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 2rem;
  border: 0.1rem solid rgba(112, 112, 112, 0.09);
  -webkit-box-shadow: none;
          box-shadow: none;
}

#dashboard_page #top .wrapper .left .top .left img {
  width: 4.25rem;
  height: auto;
}

#dashboard_page #top .wrapper .left .top .left h3 {
  font-family: ttc-dbold;
  font-size: 2.4rem;
  color: #000000;
}

#dashboard_page #top .wrapper .left .top .right {
  width: 48.5%;
  height: 7.4rem;
  border-radius: .8rem;
  -webkit-border-radius: .8rem;
  -moz-border-radius: .8rem;
  -ms-border-radius: .8rem;
  -o-border-radius: .8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 2rem;
  border: 0.1rem solid rgba(112, 112, 112, 0.09);
  background-color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#dashboard_page #top .wrapper .left .top .right img {
  width: 2.85rem;
  height: auto;
}

#dashboard_page #top .wrapper .left .top .right h3 {
  font-family: ttc-dbold;
  font-size: 2.4rem;
  color: #000000;
}

#dashboard_page #top .wrapper .left .bottom {
  font-size: 2rem;
}

#dashboard_page #top .wrapper .left .bottom .box {
  width: 100%;
  height: 5rem;
  border-radius: .9rem;
  -webkit-border-radius: .9rem;
  -moz-border-radius: .9rem;
  -ms-border-radius: .9rem;
  -o-border-radius: .9rem;
  padding: 0 2.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.1rem solid rgba(112, 112, 112, 0.15);
  margin-bottom: 1.1rem;
}

#dashboard_page #top .wrapper .left .bottom .box span {
  font-size: 1.65rem;
  font-family: ttc-medium;
  color: #000000;
}

#dashboard_page #top .wrapper .right {
  width: calc(100% - (3rem + 29.5%));
  padding: 2.7rem 2.5rem 2.5rem 2.5rem;
  border-radius: 1.3rem;
  -webkit-border-radius: 1.3rem;
  -moz-border-radius: 1.3rem;
  -ms-border-radius: 1.3rem;
  -o-border-radius: 1.3rem;
  -webkit-box-shadow: 3rem 3.3rem 46px rgba(127, 127, 255, 0.05);
          box-shadow: 3rem 3.3rem 46px rgba(127, 127, 255, 0.05);
}

#dashboard_page #top .wrapper .right h2 {
  font-size: 2.1rem;
  color: #000000;
  margin-bottom: 2rem;
}

#dashboard_page #top .wrapper .right .box {
  width: 100%;
  height: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.8rem;
}

#dashboard_page #top .wrapper .right .box h3 {
  font-size: 1.6rem;
  font-family: ttc-medium;
  color: #000000;
  margin-top: 0.3rem;
  font-weight: normal;
}

#dashboard_page #top .wrapper .right .box .progress_bar {
  width: 61rem;
  height: 100%;
  background-color: #F2F4FF;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

#dashboard_page #top .wrapper .right .box .progress_bar .progress {
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  height: 100%;
  margin-right: 2rem;
}

#dashboard_page #top .wrapper .right .box .progress_bar span {
  font-size: 1.6rem;
  font-family: ttc-medium;
  color: #000000;
}

#dashboard_page #bottom {
  width: 100%;
  height: 65rem;
  padding: 4rem 2.1rem 2rem 2.3rem;
  background-image: url("../icons/bg_shape2.png");
  background-size: 100% 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#dashboard_page #bottom .box {
  width: 23%;
  height: 100%;
  padding: 1rem 1.9rem 1.45rem 1.9rem;
  border-radius: 1.3rem;
  -webkit-border-radius: 1.3rem;
  -moz-border-radius: 1.3rem;
  -ms-border-radius: 1.3rem;
  -o-border-radius: 1.3rem;
  -webkit-box-shadow: 3rem 3.3rem 46px rgba(127, 127, 255, 0.05);
          box-shadow: 3rem 3.3rem 46px rgba(127, 127, 255, 0.05);
}

#dashboard_page #bottom .box .heading {
  height: 4.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.8rem;
}

#dashboard_page #bottom .box .heading .badge {
  width: 4.1rem;
  height: 4.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #A4BFFF;
  border-radius: 1.1rem;
  -webkit-border-radius: 1.1rem;
  -moz-border-radius: 1.1rem;
  -ms-border-radius: 1.1rem;
  -o-border-radius: 1.1rem;
  margin-right: 1.5rem;
  font-family: ttc-medium;
  font-size: 1.6rem;
  color: #000000;
}

#dashboard_page #bottom .box .heading h2 {
  font-family: ttc-medium;
  font-weight: normal;
  font-size: 1.6rem;
  color: #000000;
  letter-spacing: .02rem;
}

#dashboard_page #bottom .box .display .top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.4rem;
}

#dashboard_page #bottom .box .display .top .left {
  width: 45.7%;
  height: 7.4rem;
  border-radius: .8rem;
  -webkit-border-radius: .8rem;
  -moz-border-radius: .8rem;
  -ms-border-radius: .8rem;
  -o-border-radius: .8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 1.8rem;
  padding-left: 0.88rem;
  border: 0.1rem solid rgba(112, 112, 112, 0.09);
  -webkit-box-shadow: none;
          box-shadow: none;
}

#dashboard_page #bottom .box .display .top .left img {
  width: 4.25rem;
  height: auto;
}

#dashboard_page #bottom .box .display .top .left h3 {
  font-family: ttc-dbold;
  font-size: 2.4rem;
  color: #000000;
}

#dashboard_page #bottom .box .display .top .right {
  width: 51.5%;
  height: 7.4rem;
  border-radius: .8rem;
  -webkit-border-radius: .8rem;
  -moz-border-radius: .8rem;
  -ms-border-radius: .8rem;
  -o-border-radius: .8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 2rem;
  border: 0.1rem solid rgba(112, 112, 112, 0.09);
  background-color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#dashboard_page #bottom .box .display .top .right img {
  width: 2.85rem;
  height: auto;
}

#dashboard_page #bottom .box .display .top .right h3 {
  font-family: ttc-dbold;
  font-size: 2.4rem;
  color: #000000;
}

#dashboard_page #bottom .box .display .bottom {
  font-size: 2rem;
}

#dashboard_page #bottom .box .display .bottom .box {
  width: 100%;
  height: 3.6rem;
  border-radius: .9rem;
  -webkit-border-radius: .9rem;
  -moz-border-radius: .9rem;
  -ms-border-radius: .9rem;
  -o-border-radius: .9rem;
  padding: 0 2.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.1rem solid rgba(112, 112, 112, 0.15);
  margin-bottom: .5rem;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#dashboard_page #bottom .box .display .bottom .box span {
  font-size: 1.4rem;
  font-family: ttc-medium;
  color: #000000;
}

#dashboard_page #bottom .box .display .bottom .box:last-child {
  margin-bottom: 0;
}

#dashboard_page #bottom h4 {
  margin-top: 2.2rem;
  font-size: 1.6rem;
  font-family: ttc-medium;
  color: #000000;
  margin-bottom: 2.8rem;
}

#dashboard_page #bottom .progress_box_wrapper {
  width: 100%;
  height: 25.5rem;
  position: relative;
  top: -2rem;
}

#dashboard_page #bottom .progress_box_wrapper .progress_box {
  width: 100%;
  height: 100%;
  position: relative;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#dashboard_page #bottom .progress_box_wrapper .progress_box .inner {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#dashboard_page #bottom .progress_box_wrapper .progress_box .inner .single_progress {
  width: 100%;
  height: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#dashboard_page #bottom .progress_box_wrapper .progress_box .inner .single_progress h3 {
  width: 6.3rem;
  font-weight: normal;
  font-size: 1.5rem;
  font-family: ttc-medium;
  color: #000000;
}

#dashboard_page #bottom .progress_box_wrapper .progress_box .inner .single_progress .progress_bar {
  height: 100%;
  width: calc(100% - 6.3rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F2F4FF;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  overflow: hidden;
}

#dashboard_page #bottom .progress_box_wrapper .progress_box .inner .single_progress .progress_bar .progress {
  height: 100%;
  margin-right: 1rem;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

#dashboard_page #bottom .progress_box_wrapper .progress_box .inner .single_progress .progress_bar span {
  font-size: 1.2rem;
  font-family: ttc-medium;
  color: #000000;
}

#dashboard_page.more_then_1440 {
  padding: 30px;
}

#dashboard_page.more_then_1440 #top {
  padding: 34px 27px 25px 32px;
}

#report_page {
  padding: 3rem 4rem 1.5rem 3.5rem;
}

#report_page h1 {
  font-size: 3rem;
  text-align: center;
  font-family: ttc-medium;
  color: #000000;
}

#profile_page {
  padding: 3rem 4rem 1.5rem 3.5rem;
}

#profile_page h1 {
  font-size: 3rem;
  text-align: center;
  font-family: ttc-medium;
  color: #000000;
}

#settings_page {
  padding: 3rem 4rem 1.5rem 3.5rem;
}

#settings_page h1 {
  font-size: 3rem;
  text-align: center;
  font-family: ttc-medium;
  color: #000000;
}

@media (min-width: 577px) {
  #mobile_top_bar {
    display: none;
  }
}

@media (max-width: 576px) {
  .main_content {
    padding: 0 1.5rem;
  }
  #top_bar,
  #side_bar {
    display: none;
  }
  #mobile_top_bar {
    display: block;
    width: 100%;
    height: 6rem;
    padding: 1rem 0;
    margin-bottom: 2.5rem;
    background: #4173b9;
    background: linear-gradient(-46deg, #4173b9 10%, #09094a 110%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4173b9", endColorstr="#09094a", GradientType=1);
  }
  #mobile_top_bar .inner {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #mobile_top_bar .inner .dashboard_icon {
    width: 3.7rem;
    height: 3.7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: .6rem;
    -webkit-border-radius: .6rem;
    -moz-border-radius: .6rem;
    -ms-border-radius: .6rem;
    -o-border-radius: .6rem;
    background: #1b2b6e;
    background: linear-gradient(135deg, #1b2b6e 0%, #4173b9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1b2b6e", endColorstr="#4173b9", GradientType=1);
  }
  #mobile_top_bar .inner .dashboard_icon img {
    width: 1.503rem;
    height: 1.503rem;
    margin-top: 0.35rem;
  }
  #mobile_top_bar .inner .logo {
    width: 3.1rem;
    height: 4.2rem;
  }
  #mobile_top_bar .inner .logo a {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #mobile_top_bar .inner .logo a img {
    width: 100%;
    height: 100%;
  }
  #mobile_top_bar .inner .person_image {
    width: 3.7rem;
    height: 3.7rem;
    border-radius: .6rem;
    -webkit-border-radius: .6rem;
    -moz-border-radius: .6rem;
    -ms-border-radius: .6rem;
    -o-border-radius: .6rem;
    overflow: hidden;
  }
  #mobile_top_bar .inner .person_image img {
    width: 100%;
    height: 100%;
  }
  #dashboard_page {
    padding: 0;
  }
  #dashboard_page #top {
    width: 100%;
    min-height: 40rem;
    padding: 3.4rem 1rem 3.4rem 1rem;
    background-image: url("../icons/bg_shape1.png");
    background-size: 100% 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-bottom: 1.8rem;
  }
  #dashboard_page #top h2 {
    font-size: 2.4rem;
    font-family: ttc-dbold;
    color: #000000;
    margin-bottom: 1rem;
  }
  #dashboard_page #top .wrapper {
    width: 100%;
    border-radius: 1.3rem;
    -webkit-border-radius: 1.3rem;
    -moz-border-radius: 1.3rem;
    -ms-border-radius: 1.3rem;
    -o-border-radius: 1.3rem;
    padding: 0;
    padding-bottom: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #dashboard_page #top .wrapper .left {
    width: 100%;
    padding: .6rem;
    border-radius: 1.3rem;
    -webkit-border-radius: 1.3rem;
    -moz-border-radius: 1.3rem;
    -ms-border-radius: 1.3rem;
    -o-border-radius: 1.3rem;
    -webkit-box-shadow: 3rem 3.3rem 46px rgba(127, 127, 255, 0.05);
            box-shadow: 3rem 3.3rem 46px rgba(127, 127, 255, 0.05);
    margin-top: 1.2rem;
  }
  #dashboard_page #top .wrapper .left .top {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 1rem;
  }
  #dashboard_page #top .wrapper .left .top .left {
    width: 45.7%;
    height: 7.4rem;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 2rem;
    border: 0.1rem solid rgba(112, 112, 112, 0.09);
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-top: 0;
  }
  #dashboard_page #top .wrapper .left .top .left img {
    width: 4.25rem;
    height: auto;
  }
  #dashboard_page #top .wrapper .left .top .left h3 {
    font-family: ttc-dbold;
    font-size: 2rem;
    color: #000000;
  }
  #dashboard_page #top .wrapper .left .top .right {
    width: 48.5%;
    height: 7.4rem;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 2rem;
    border: 0.1rem solid rgba(112, 112, 112, 0.09);
    background-color: #ffffff;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #dashboard_page #top .wrapper .left .top .right img {
    width: 2.85rem;
    height: auto;
  }
  #dashboard_page #top .wrapper .left .top .right h3 {
    font-family: ttc-dbold;
    font-size: 2rem;
    color: #000000;
  }
  #dashboard_page #top .wrapper .left .bottom {
    font-size: 2rem;
  }
  #dashboard_page #top .wrapper .left .bottom .box {
    width: 100%;
    height: 5rem;
    border-radius: .9rem;
    -webkit-border-radius: .9rem;
    -moz-border-radius: .9rem;
    -ms-border-radius: .9rem;
    -o-border-radius: .9rem;
    padding: 0 2.1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 0.1rem solid rgba(112, 112, 112, 0.15);
    margin-bottom: 1.1rem;
  }
  #dashboard_page #top .wrapper .left .bottom .box span {
    font-size: 1.65rem;
    font-family: ttc-medium;
    color: #000000;
  }
  #dashboard_page #top .wrapper .right {
    width: 100%;
    padding: 2.7rem 2.5rem 2.5rem 2.5rem;
    border-radius: 1.3rem;
    -webkit-border-radius: 1.3rem;
    -moz-border-radius: 1.3rem;
    -ms-border-radius: 1.3rem;
    -o-border-radius: 1.3rem;
    -webkit-box-shadow: 3rem 3.3rem 46px rgba(127, 127, 255, 0.05);
            box-shadow: 3rem 3.3rem 46px rgba(127, 127, 255, 0.05);
  }
  #dashboard_page #top .wrapper .right h2 {
    font-size: 2.1rem;
    color: #000000;
    margin-bottom: 2rem;
  }
  #dashboard_page #top .wrapper .right .box {
    width: 100%;
    height: 1.6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 1.8rem;
  }
  #dashboard_page #top .wrapper .right .box h3 {
    font-size: 1.2rem;
    font-family: ttc-medium;
    color: #000000;
    margin-top: 0.3rem;
    font-weight: normal;
  }
  #dashboard_page #top .wrapper .right .box .progress_bar {
    width: 75%;
    height: 100%;
    background-color: #F2F4FF;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
  #dashboard_page #top .wrapper .right .box .progress_bar .progress {
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    height: 100%;
    margin-right: 1.2rem;
  }
  #dashboard_page #top .wrapper .right .box .progress_bar span {
    font-size: 1rem;
    font-family: ttc-medium;
    color: #000000;
  }
  #dashboard_page #bottom {
    width: 100%;
    height: auto;
    padding: 1.2rem 0 2.4rem 0;
    background-image: url("../icons/bg_shape2.png");
    background-size: 100% 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #dashboard_page #bottom .box {
    width: 100%;
    height: 100%;
    padding: 1rem 1.9rem 1.45rem 1.9rem;
    border-radius: 1.3rem;
    -webkit-border-radius: 1.3rem;
    -moz-border-radius: 1.3rem;
    -ms-border-radius: 1.3rem;
    -o-border-radius: 1.3rem;
    -webkit-box-shadow: 3rem 3.3rem 46px rgba(127, 127, 255, 0.05);
            box-shadow: 3rem 3.3rem 46px rgba(127, 127, 255, 0.05);
    margin-bottom: 2rem;
    background-color: white;
  }
  #dashboard_page #bottom .box .heading {
    height: 4.1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1.8rem;
    margin-top: 1.5rem;
  }
  #dashboard_page #bottom .box .heading .badge {
    width: 4.1rem;
    height: 4.1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #A4BFFF;
    border-radius: 1.1rem;
    -webkit-border-radius: 1.1rem;
    -moz-border-radius: 1.1rem;
    -ms-border-radius: 1.1rem;
    -o-border-radius: 1.1rem;
    margin-right: 1.5rem;
    font-family: ttc-medium;
    font-size: 1.6rem;
    color: #000000;
  }
  #dashboard_page #bottom .box .heading h2 {
    font-family: ttc-medium;
    font-weight: normal;
    font-size: 1.6rem;
    color: #000000;
    letter-spacing: .02rem;
  }
  #dashboard_page #bottom .box .display .top {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 1.4rem;
  }
  #dashboard_page #bottom .box .display .top .left {
    width: 45.7%;
    height: 7.4rem;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 1.8rem;
    padding-left: 0.88rem;
    border: 0.1rem solid rgba(112, 112, 112, 0.09);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #dashboard_page #bottom .box .display .top .left img {
    width: 4.25rem;
    height: auto;
  }
  #dashboard_page #bottom .box .display .top .left h3 {
    font-family: ttc-dbold;
    font-size: 2.4rem;
    color: #000000;
  }
  #dashboard_page #bottom .box .display .top .right {
    width: 51.5%;
    height: 7.4rem;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 2rem;
    border: 0.1rem solid rgba(112, 112, 112, 0.09);
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #dashboard_page #bottom .box .display .top .right img {
    width: 2.85rem;
    height: auto;
  }
  #dashboard_page #bottom .box .display .top .right h3 {
    font-family: ttc-dbold;
    font-size: 2.4rem;
    color: #000000;
  }
  #dashboard_page #bottom .box .display .bottom {
    font-size: 2rem;
  }
  #dashboard_page #bottom .box .display .bottom .box {
    width: 100%;
    height: 3.6rem;
    border-radius: .9rem;
    -webkit-border-radius: .9rem;
    -moz-border-radius: .9rem;
    -ms-border-radius: .9rem;
    -o-border-radius: .9rem;
    padding: 0 2.1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 0.1rem solid rgba(112, 112, 112, 0.15);
    margin-bottom: .5rem;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #dashboard_page #bottom .box .display .bottom .box span {
    font-size: 1.4rem;
    font-family: ttc-medium;
    color: #000000;
  }
  #dashboard_page #bottom .box .display .bottom .box:last-child {
    margin-bottom: 0;
  }
  #dashboard_page #bottom h4 {
    margin-top: 2.2rem;
    font-size: 1.6rem;
    font-family: ttc-medium;
    color: #000000;
    margin-bottom: 0.8rem;
  }
  #dashboard_page #bottom .progress_box_wrapper {
    width: 100%;
    height: 25.5rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
  }
  #dashboard_page #bottom .progress_box_wrapper .progress_box {
    width: 25rem;
    height: 80vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
    -moz-transform: translate(-50%, -50%) rotate(-90deg);
    -ms-transform: translate(-50%, -50%) rotate(-90deg);
    -o-transform: translate(-50%, -50%) rotate(-90deg);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  #dashboard_page #bottom .progress_box_wrapper .progress_box .inner {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #dashboard_page #bottom .progress_box_wrapper .progress_box .inner .single_progress {
    width: 100%;
    height: 2.7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #dashboard_page #bottom .progress_box_wrapper .progress_box .inner .single_progress h3 {
    width: 6.3rem;
    font-weight: normal;
    font-size: 1.5rem;
    font-family: ttc-medium;
    color: #000000;
  }
  #dashboard_page #bottom .progress_box_wrapper .progress_box .inner .single_progress .progress_bar {
    height: 100%;
    width: calc(100% - 6.3rem);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #F2F4FF;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    overflow: hidden;
  }
  #dashboard_page #bottom .progress_box_wrapper .progress_box .inner .single_progress .progress_bar .progress {
    height: 100%;
    margin-right: 1rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
  }
  #dashboard_page #bottom .progress_box_wrapper .progress_box .inner .single_progress .progress_bar span {
    font-size: 1.2rem;
    font-family: ttc-medium;
    color: #000000;
  }
}
/*# sourceMappingURL=style.css.map */